@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body{
	font-family: 'PT Sans', sans-serif;
  margin: 0;
}

.logo{
margin: 0 auto;
display:block;
}

nav{
  background-color: darkgreen;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 13px;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline;
}
nav a{
  text-decoration: none;
  padding-right: 10px;
}
nav a:link{
  color: white;
}
nav a:visited{
  color: pink;
}
nav a:hover{
  color: yellow;
}
nav a:active{
  color: orange;
}

main{
  max-width: 1000px;
  margin: 20px auto;
}
.subtitle{
  text-align: center;
}
.navigation{
  text-align: center;
}
main .fa{
  font-size: 5em;
}

canvas{
  margin: 0 auto;
  display: block;
}
.mobile{
  display: none;
}
@media only screen and (max-width: 768px){
  .desktop{
    display:none;
  }
  .mobile{
    display: block;
    touch-action: manipulation;
  }
}

.gallery .preview{
  width:100%
  height:auto;
}
.gallery .gallery-thumbnails img {
  width:100px;
  height:75px;
  margin: 3px 10px 10px 0;
}
.gallery .gallery-thumbnails img:hover {
  opacity: .8;
  cursor: pointer;
}
.gallery .preview img#preview {
  padding: 1px;
  max-width: 100%;
  height: auto;
  margin: 0 auto !important;
  display: block !important;
}

footer{
  background-color: darkgreen;
  border-top: 1px solid black;
  padding: 10px;
  color: white;
}
footer .fa{
  color: white;
}
footer a{
  color: white;
}
footer a:hover{
  color: yellow;
}
footer a:active{
  color: orange;
}